body {
    background-color: #17191a;
    margin: 0px;
    padding: 0px;
}
.header_bg{
    background-color: rgb(14, 0, 29);
}
.navbar_bg{
    background-color: rgb(47, 1, 1);
}
.footer_credits {
    font-family: 'Hubballi', cursive;
}
.login_text {
    font-family: 'Hubballi', cursive;
}
