{% extends 'base.html' %}
{% block 'content' %}
<section class="container-xl py-3" id="about">
  <div class="card body_bg pt-3">
    <div class="text-center texto_body"> 
      <i class="me-3 fa-solid fa-address-card fa-2x"></i>     
      <h1 class="section_title fw-bold d-inline-block">{{contenido}}</h1>
      <i class="ms-3 fa-solid fa-address-card fa-2x"></i>
    </div>
    <div class="text-center texto_body">
        <h5>Esta aplicación es una plantilla de prueba para un tentativo y potencial sitio web comercial de gastronomía.</h5>
        <p>Para mayor información, consultar al desarrollador del sitio web.</p>
    </div>
  </div>
</section>
{% endblock %}